button {
    border-radius: 30px;
    border: none;
    width: 50px;
    margin: 3px;
    height: 50px;
    font-size: 24px;
}

.num {
    background-color: grey;
    font-weight: 700;
    color: white;
}

.op {
    background-color: orange;
    color: white;
}

button:hover {
    transform: scale(1.05);
    transition: 1ms;
    opacity: 0.8;

}